# Default ignored files
/shelf/
/workspace.xml
/encodings.xml
/git_toolbox_blame.xml
/git_toolbox_prj.xml
/Horus.iml
/misc.xml
/modules.xml
/inspectionProfiles/profiles_settings.xml
/inspectionProfiles/Project_Default.xml
/vcs.xml
